/* DeBUG */
.debug [class*= "nav_"]{
  background-color: white;
  border: 1px solid black;
}
.debug .container{
  border: 1px solid red;
}

/* .debug [class*="col-"]{
  border: 1px solid black;
} */

section{
  margin-top: 30px;
}

/* /DeBUG */
body{
  color: black;
  font-family: 'Open Sans', sans-serif;
}

/* MIX */
.list_inline > li, .list_inline a{
  display: inline-block;
}

ul.list_inline{
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

a{
  color: inherit;
}

.clearfix::after{
  display: block;
  content: "";
  clear: both;
}
/* /MIX */

/* NAV */
.nav_logo, .nav_list, .nav_login{
  padding: 20px 0;
  display: inline-block;
}

.nav_logo img{
  height: 15px;
}

.nav_list, .nav_login{
  font-size: 12px;
  font-weight: 600;
}

.nav_list li{
  margin: 0 20px;
}

.nav_login li{
  margin: 0 2px;
}

/* Bottoni Nav */
.nav_login .btn{
  display: inline-block;
  border-radius: 0;
}

.btn.login{
  background-color: #000;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 700;
}

.btn.languages{
  padding: 0 10px;
  border-left:solid black 1px;
  border-right:solid black 1px;
  font-size: 12px;
}

.btn.nav_menu{
  display: none;
  padding: 0 10px;
  font-size: 25px;
  color: grey;
}
/* /Bottoni Nav */

@media screen and (max-width: 992px) {
  .nav_list, .nav_login > ul{
    display: none;
  }

  .btn.nav_menu{
    display: inline-block;
  }

}
/* /NAV */

/* HERO */
.hero h1{
  font-size: 110px;
  padding-top: 60px;
  font-weight: 700;
}

.hero img{
  width: 100%;
}

@media screen and (max-width: 992px) {
  .hero h1{
    font-size: 80px;
  }
}
/* /HERO */

/* SEZIONE 1 #product_categories */
#product_categories .box_product{
  background-color: #f9f9f9;
  margin: 50px 0;
  padding: 80px 10px 20px;
}

#product_categories p, #product_categories a{
  font-size: 20px;
  margin: 30px 0;
}

#product_categories a{
  color: #0070c8;
}

.categories_logo{
  height: 20px;
}

.categories_img img{
  height: 300px;
  margin-top: 30px;
  max-width: 100%;
}
/* /SEZIONE 1 #product_categories */

/* SEZIONE 2 #how */
.carousel_bg{
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: 30%;
}

/* CAROUSEL */
.carousel_box{
  max-width: 70%;
  margin: 0px auto;
  padding-top: 200px;
}

.carousel_box > .box{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px;
  width: calc( ( 100% / 3 ) - 26px );
  position: relative;
}

.box.center_carousel img{
  height: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 40px;
  vertical-align: bottom;
}

.box.center_carousel{
  height: 500px;
}

.box.left_carousel h3{
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}

.box.right_carousel{
  font-size: 18px;
  margin-bottom: 100px;
}

.box.right_carousel h6{
  font-size: 20px;
  font-weight: 700;
}

.box.left_carousel{
  position: relative;
  right: calc( ( 100% / 3 ) - 10px );
}

.box.center_carousel{
  position: relative;
  left: calc( ( 100% / 3 ) - 10px );
}

@media screen and (max-width:991px) {
  .carousel_box > .box{
    width: 100%;
  }

  .box.left_carousel{
    position: relative;
    right: 0;
  }

  .box.center_carousel{
    position: relative;
    left: 0;
  }

  .box.left_carousel h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    margin: 50px 0 0;
  }
  .box.center_carousel img{
    width: 50%;

  }


}

/* /SEZIONE 2 #how */
