/* DeBUG */
.debug [class*= "nav_"]{
  background-color: white;
  border: 1px solid black;
}
/* /DeBUG */
body{
  color: black;
}

/* MIX */
.list_inline > li, .list_inline a{
  display: inline-block;
}

ul.list_inline{
  margin: 0;
  padding: 0;
}

a, a:hover{
  text-decoration: none;
  color: inherit;
}

/* /MIX */

/* NAV */
.nav_logo, .nav_list, .nav_login{
  padding: 20px 0;
  display: inline-block;
}

.nav_logo img{
  height: 15px;
}

.nav_list, .nav_login{
  font-size: 12px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.nav_list li{
  margin: 0 20px;
}

.nav_login li{
  margin: 0 2px;
}

/* Bottoni Nav */
.nav_login .btn{
  display: inline-block;
  border-radius: 0;
}

.btn.login{
  background-color: #000;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}

.btn.languages{
  padding: 0 10px;
  border-left:solid black 1px;
  border-right:solid black 1px;
  font-size: 12px;
  font-weight: 700;
}

.btn.nav_menu{
  display: none;
  padding: 0 10px;
  font-size: 25px;
  color: grey;
}
/* /Bottoni Nav */

@media screen and (max-width: 992px) {
  .nav_list, .nav_login > ul{
    display: none;
  }

  .btn.nav_menu{
    display: inline-block;
  }

}
/* /NAV */

/* HERO */
.hero h1{
  font-size: 110px;
  padding-top: 60px;
  font-weight: 700;
}

.hero img{
  width: 100%;
}

@media screen and (max-width: 992px) {
  .hero h1{
    font-size: 80px;
  }
}
/* /HERO */
